.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr; 
}
/* there is no frist bracket with coma */
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    
}
/* there is frist bracket with coma,when use repeat columns */