.product {
    width: 300px;
    height: 510px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    position: relative;
}
/* parent container relative; */

.product img {
    width: 280px;
    height: 280px;
    border: 1px solid lightpink;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px; 
     margin-top: 12px;
}

.product-info {
    margin: 0 15px;
    
}

.product-info p {
    margin: 15px;
    
}

.btn-cart {
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
    
}
/* child container absolute and bottom zero; */
.btn-cart:hover{
    background-color:lightcoral;
}