.header-container{
    background-color:#1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 112px;
    /* position: sticky;
    margin-top: 0px; */
    /* position: static; notice that/help */
}

.header-container a{
    text-decoration: none;
    color:#FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 32px;
}

.header-container a:hover{
    color:lightsalmon;
}